# Tarea 2

<figure>
<img src="../imagenes/mario.jpg"  width="80" height="80" align="Right"/> 
</figure>

# <span style="color:Black"><left>Carlos Mario Barbosa T.</left></span>

Cada ejercicio debe ser probado con un ejemplo de datos.
1. Escriba una función  que reciba la fecha de nacimiento de un a persona y calcule la edad de la persona

2. Crea una función EscribirCentrado, que reciba como parámetro un texto y lo escriba centrado en pantalla (suponiendo una anchura de 80 columnas; pista: deberás escribir 40 - longitud/2 espacios antes del texto).  


3. Construya una función decorada que reciba un texto y lo escriba marcado con Markdown en itálica y resaltada (bold). Revise la lección de decoradores, no vista en clase.

4.  Crea un programa que pida dos número enteros al usuario y diga si alguno de ellos es múltiplo del otro. 


5. Crear una función re reciba una lista  de 24 valores de temperatura leída  hora en un día y que calcule la temperatura media  Cree una lista con 24 valores de temperatura de un día de Bogotá y pruebe su función. Invente los datos.


5. Crea un función “ConvertirEspaciado”, que reciba como parámetro un texto y devuelve una cadena con un espacio adicional tras cada letra. Por ejemplo, “Hola, tú” devolverá “H o l a , t ú “.  Pruebe 

6. Crea una función “calcularMaxMin” que recibe una arreglo con valores numérico y devuelve el valor máximo y el mínimo. 
7.  Diseñar una función que calcule el área y el perímetro de una circunferencia. 

8. Crear una función  llamada “Login”, que recibe un nombre de usuario y una contraseña y devuelva Verdadero si el nombre de usuario es “usuario1” y la contraseña es “asdasd”. Además recibe el número de intentos que se ha intentado hacer login y si no se ha podido hacer login incremente este valor.

9. Crear una función recursiva que permita calcular el factorial de un número. Realiza un programa principal donde se lea un entero y se muestre el resultado del factorial. Revise la lección de funciones.

10. Escribir dos funciones que permitan calcular La cantidad de segundos en un tiempo dado en horas, minutos y segundos.La cantidad de horas, minutos y segundos de un tiempo dado en segundos

11. Crea una función  que lea una tupla, invierta los valores de la tupla y regrese una nueva tupla invirtiendo los valores. Recuerde que las tuplas son inmutables.

12. Escriba una función que lea una lista y calcule la media geométrica de sus valores, usando funtools.reduce.

Entregable.

Enlace a la solución escrita en un cuaderno de Jupyter Lab y puesto en Github.

## Solución

#### <span style="color:REd">1. Escriba una función  que reciba la fecha de nacimiento de un a persona y calcule la edad de la persona</span>

In [41]:
# funcion que permite calcular la edad de una persona
import math
import pandas as pd
import datetime
from seaborn import load_dataset
from datetime import date, time, datetime
import functools
def edad(fecha_nacimiento):
    fecha_nacimiento = str(fecha_nacimiento)
    fecha_nacimiento = fecha_nacimiento.split("/")
    hoy = date.today()
    año = int(fecha_nacimiento[2])
    mes = int(fecha_nacimiento[0])
    dia = int(fecha_nacimiento[1])
    fecha_nac = date(año,mes,dia)
    edad_dias = (hoy-fecha_nac).days
    edad_años = edad_dias/365
    return int(edad_años)

    # Base de datos de los peleadores
direccion_carpeta='../datos/'
peleadores = pd.read_csv(direccion_carpeta+'peleadores.csv')
peleadores=peleadores.dropna(subset=["date_of_birth"], axis=0,inplace=False)
peleadores['date_of_birth']=peleadores['date_of_birth'].apply(str)
peleadores['Edad']=peleadores['date_of_birth'].apply(edad)
peleadores[['name','Edad']]

                 name  Edad
0        Buddy Rogers   101
1    Bruno Sammartino    87
2         Ivan Koloff    80
3       Pedro Morales    80
4        Stan Stasiak    85
..                ...   ...
407       Becky Lynch    35
408   Charlotte Flair    36
409            Bayley    33
410   Charlotte Flair    36
411            Bayley    33

[409 rows x 2 columns]

#### <span style="color:REd">2. Crea una función EscribirCentrado, que reciba como parámetro un texto y lo escriba centrado en pantalla (suponiendo una anchura de 80 columnas; pista: deberás escribir 40 - longitud/2 espacios antes del texto).</span>

In [99]:
def EscribirCentrado(Texto):
    longitud=len(Texto)
    Espacio=int(40-(longitud/2))
    return Espacio*' '+Texto
print(EscribirCentrado('El Texto siguiente estara centrado'))
print(EscribirCentrado('igual que el siguiente texto'))b

                       El Texto siguiente estara centrado
                          igual que el siguiente texto

#### <span style="color:REd">3.Construya una función decorada que reciba un texto y lo escriba marcado con Markdown en itálica y resaltada (bold). Revise la lección de decoradores, no vista en clase.</span>

In [125]:
# decoradores
def make_bold(fn):
    def makebold_wrapper(x):
        return "<b>" + fn(x) + "</b>"
    return makebold_wrapper

def make_italic(fn):
    def makeitalic_wrapper(x):
        return "<i>" + fn(x) + "</i>"
    return makeitalic_wrapper

# aplica los decoradores

@make_bold
@make_italic
def Saludo(Name):
    return 'hola '+Name

print(Saludo('Mario'))

<b><i>hola Mario</i></b>

<b><i>hola Mario</i></b>Crea un programa que pida dos número enteros al usuario y diga si alguno de ellos es múltiplo del otro.

#### <span style="color:REd"> 4. Crea un programa que pida dos número enteros al usuario y diga si alguno de ellos es múltiplo del otro.</span>

In [130]:
a=int(input('Escriba un numero'))
b=int(input('Escriba un numero'))
def Multiplos(x,y):
    try:
        if x%y==0:
            print('{} y {} son multiplos'.format(x,y))
        elif y%x == 0:
            print('{} y {} son multiplos'.format(x,y))
        else:
            print('{} y {}  NO son multiplos'.format(x,y))  
    except:
        print("Seleccione numeros validos")
Multiplos(a,b)

Escriba un numero 5
Escriba un numero 99999995

5 y 99999995 son multiplos

#### <span style = "color:RED">5. Crear una función re reciba una lista de 24 valores de temperatura leída hora en un día y que calcule la temperatura media Cree una lista con 24 valores de temperatura de un día de Bogotá y pruebe su función. Invente los datos. </span>

In [135]:
def TemMedia(Lista):
    TemTotal=0
    if len(Lista)==24:
        for i in Lista:
            TemTotal=TemTotal+i
    else:
        print('Longitud de lista invalido')
    return TemTotal/len(Lista)
Bogota=[10,10,11,11,11,11,14,14,19,19,14,14,14,14,15,15,11,11,10,10,9,9,10,11]
TemMedia(Bogota)

12.375

#### <span style = "color:RED">6.Crea un función “ConvertirEspaciado”, que reciba como parámetro un texto y devuelve una cadena con un espacio adicional tras cada letra. Por ejemplo, “Hola, tú” devolverá “H o l a , t ú “. Pruebe </span>

In [139]:
def ConvertirEspacio(Text):
    ListLetras=[]
    for i in Text:
        ListLetras.append(i)
    for i in ListLetras:
        print(i, end=' ')
ConvertirEspacio("Hola, tu")

H o l a ,   t u

#### <span style = "color:RED"> 7.Crea una función “calcularMaxMin” que recibe una arreglo con valores numérico y devuelve el valor máximo y el mínimo. </span>

In [143]:
def CalculaMaxMin(lista):
    Maximo=max(lista)
    Minimo=min(lista)
    print('El Maximo es {} y el minimo es {} '.format(Maximo,Minimo))
CalculaMaxMin(peleadores["Edad"])

El Maximo es 101 y el minimo es 30

#### <span style = "color:RED">8. Diseñar una función que calcule el área y el perímetro de una circunferencia. </span>

In [145]:
def AreaPerimetroCircunf(r):
    Area=math.pi*(r**2)
    Perimetro=2*math.pi*r
    print('El Area es {} y el perimetro es {} '.format(Area,Perimetro))
AreaPerimetroCircunf(10)

El Area es 314.1592653589793 y el perimetro es 62.83185307179586

#### <span style ='color:red'> 9. Crear una función llamada “Login”, que recibe un nombre de usuario y una contraseña y devuelva Verdadero si el nombre de usuario es “usuario1” y la contraseña es “asdasd”. Además recibe el número de intentos que se ha intentado hacer login y si no se ha podido hacer login incremente este valor.  </span>

In [1]:
def Login(usuario,password):
    contador=1
    while usuario!='usuario1':
        print('Usuario Invalido')
        usuario=str(input('Ingrese el nombre de usuario'))
        contador+=1
    while password!='asdasd':
        print('Cotraseña Incorrecta')
        password=input('Introduzca cotraseña')
    print('Acceso concedido')
    print('numero de intentos '+str(contador))
Login('sf','dfgd')

Usuario Invalido

Ingrese el nombre de usuario usuario1

Cotraseña Incorrecta

Introduzca cotraseña asdasd

Acceso concedido
numero de intentos 1

#### <span style ='color:red'>10.Crear una función llamada “Login”, que recibe un nombre de usuario y una contraseña y devuelva Verdadero si el nombre de usuario es “usuario1” y la contraseña es “asdasd”. Además recibe el número de intentos que se ha intentado hacer login y si no se ha podido hacer login incremente este valor.</span>

In [47]:
def Factorial(x):
    j=1
    for i in range(1,x+1):
        j=i*j
    return j


#otra manera que se me ocurrio
def facto(x):
    lista=[]
    for i in range(1,x+1):
        lista.append(i)
    return functools.reduce(lambda a, b: a*b, lista)


print(Factorial(9))
print(facto(9))

362880
362880

#### <span style ='color:red'>11. Escribir dos funciones que permitan calcular La cantidad de segundos en un tiempo dado en horas, minutos y segundos.La cantidad de horas, minutos y segundos de un tiempo dado en segundos</span>

In [39]:

def Segundos(Horas,minutos,segundos):
    Seg_hora=Horas*3600
    Seg_min=minutos*60
    segundos=Seg_hora+Seg_min+segundos
    return segundos

print(Segundos(8,5,4))
    
def hor_min_seg(x):
    h=x//3600
    m=(x%3600)//60
    s=(x%3600)%60
    t=time(h,m,s)
    return t
hor_min_seg(29104)

29104

datetime.time(8, 5, 4)

#### <span style ='color:red'>12. Crea una función que lea una tupla, invierta los valores de la tupla y regrese una nueva tupla invirtiendo los valores. Recuerde que las tuplas son inmutables.</span>

In [40]:
def Tupla_al_reves(tuplita):
    lista=[]
    for i in tuplita:
        lista.append(i)
    lista1=reversed(lista)
    return tuple(lista1)

a=(1,2,3,4,5,6,7,8,9)
Tupla_al_reves(a)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

#### <span style ='color:red'>13. Escriba una función que lea una lista y calcule la media geométrica de sus valores, usando funtools.reduce.</span>

### Media geométrica

>${\displaystyle {\bar {x}}={\sqrt[{n}]{\prod _{i=1}^{n}{x_{i}}}}={\sqrt[{n}]{x_{1}\cdot x_{2}\cdots x_{n}}}}$

In [45]:
lis=[1,3,9] 
def med_geo(lista):
    p=functools.reduce(lambda a, b: a*b, lista)
    n=1/len(lista)
    return p**n
med_geo(lis)

3.0